streamlit>=1.32.0
python-dotenv>=1.0.0
numpy>=1.24.0

# # LangChain and Upstage
langchain>=0.1.17
langchain-core>=0.1.50
langchain-community>=0.0.25
langchain-upstage>=0.0.20

# Vector DB
faiss-cpu>=1.7.4

# Email support
secure-smtplib
